/* set up sniipet */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* real styles start */

html {
    font-size: 125%;
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

ul, li, h1, h2, h3, h4, p, a {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    /* border: 1px solid blue; */
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    margin: 50px 0;
}


h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    color: #EFA00B;
    text-shadow: 2px 2px black;
    
    margin-top: 50px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.bigText {
    font-size: 4rem;
    margin-bottom: 115px;
}

/* nav styles  */
nav {
    font-size: 1.2rem;
    background-color: #ed590a;
    min-height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: black;
    transition: 0.2s;
}

nav a:hover , nav a:focus {
    /* color: #EFA00B; */
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
}

.logo {
    font-weight: 500;
}

/* header */

header {
    background-image: url("./assets/header-background.jpg");
    background-size: cover;
    min-height: 94vh;
    display: flex;
    align-items: center;
}

/* services section */
.servicesSection {
    padding: 50px 0;
    background-color: #EFA00B;
}

.serviceMainHeading {
    margin-top: 0;
}


.hairServices {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.lastHairService {
    grid-column: 1 / -1;
}

.hairServices li,
.nailServices li,
.products li {
    margin: 10px 0;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

.nailServices, .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
    justify-content: space-between;
}

.photos li {
    width: calc(33% - 10px);
    margin: 5px;
}

.photos img {
    max-height: 250px;
}




/* footer */
footer {
    background-color: #ed590a;
    padding-top: 10px;
    color: black;
}

footer .wrapper{
    min-height: 8vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer p {
    margin: 5px 0;
}

.email {
    text-decoration: underline;
    color: blue;
}